@CHARSET "UTF-8";
#contents{
	position: absolute;
	left: 0px;
	top: 200px;
	margin-top:50px;
	width: 80%;
	height: 60%;
	margin-bottom: 300px;

}
tr{
	height: 40px;
}
td{
	padding-left: 10px;
}

table {
	font-size:11px;
	clear:left;
	margin-left:100px;
    position: relative;
    background-color:rgba(255,255,255,0.9);
    border-radius:10px;
    box-shadow: 0px 0px 0px 10px #fff;
    border: dashed 2px #ffc3c3;
    padding: 0.2em 0.5em;
    color:black;
    width:95%;
    height:70px;
}

.submit_btn_box{
	margin-left: 500px;
	margin-top: 50px;
}


table tr:nth-child(2n){
  background-color:rgba(230, 242, 255,0.5);
}

h2{
	margin-left: 400px;
	margin-bottom: 50px;
}

.info{
	font-size : 30px;
	width : 100%;
	margin-left:150px;
	margin-top:0px;
	margin-bottom:30px;
	text-align:left;
}
.error {
	font-size : 0.8em;
	margin-left : 3%;
	color: #D8000C;
	background-color: #FFBABA;
	width:65%;
	padding : 30px;
	margin-bottom:30px;
}

.error-message {
	color : red;
}

#errorbox {
	padding : 30px;
	margin : 0 auto;
	width:60%
}


.success, .warning, .error, .validation {
	border: 1px solid;
	margin-left: 100px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}